<form action="/suma" method="post">
  <label for="txtNumero1">Numero 1</label>
  <input type="mensaje" id="txtNumero1" name="txtNumero1"
    value="{{txtNumero1}}" placeholder="Ingrese un numero."
    />
    <br />
    <label for="txtNumero2">Numero 2</label>
    <input type="mensaje" id="txtNumero2" name="txtNumero2"
      value="{{txtNumero2}}" placeholder="Ingrese un numero."
      />
    <br />
    <input type="submit" value="Aceptar" id="btnSubmit"
      name="btnSubmit"/>
</form>
<div>
  {{msg}}
</div>
